body {
  color: #0072E1;
  font-family: 'Josefin Sans', sans-serif;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

/* Nav Bar */
#logo {
  width: 50px;
}

.navbar-brand {
  padding: 0 5rem 0 2rem; 
}

.navbar {
  padding: 1rem 5rem;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: black;
  text-indent: 50px;
}

.active a {
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navbar-nav a:hover {
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
}

/* Banner */

/* .banner {

} */

h3 {
  padding-top: 25%;
  font-weight: 500;
}

h1 {
  font-size: 5rem;
}

h4 {
  font-size: 1.25rem;
}

.banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

.button {
    padding: .8rem 1rem;
    position: relative;
    font: normal 500 16px/20px 'Josefin Sans', sans-serif;
    border: 3px solid transparent;
    border-radius: 4px;
}

.primary-button {
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
}

.primary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    content: '';
    z-index: -1;    
    border-radius: 4px;
}